/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.phpunit.result.cache
.phpunit.cache
.env
.env.backup
.env.local
.env.testing
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
.DS_Store
